:root {

  // light
  --color-light-100: #fff;

  // dark
  --color-dark-20: #8d8d8d;
  --color-dark-40: #696969;
  --color-dark-60: #3c3e45;
  --color-dark-80: #27282f;
  --color-dark-100: #1c1d22;
  --color-dark: #000;

  //danger
  --color-danger-100: #ea2323;
  --color-danger-80: #fc3b3b;
  --color-danger-60: #f84c4c;
}
