.title {
  margin-top: 10px;
  font-weight: bold;
}

.description {
  margin-top: 100px;
  margin-bottom: 10px;
}

.text {
  border-top: 1px solid greenyellow;
  padding-top: 1rem;
  margin-top: 1rem;
}

.userName {
  font-weight: bolder;
  font-size: 16px;
  color: #ad3d5e;
}
