.description {
  margin-top: 100px;
  margin-bottom: 10px;
}

.section {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 20px;
  color: #ad3d5e;
}

.name {
  margin-bottom: 10px;

}

.comment {
  border-bottom: 1px solid greenyellow;
  padding-top: 1rem;
  padding-bottom: 1rem;
}